{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %} 
<div id="bgpt-logo-cont">
    <h1>B</h1>
    <h1>G</h1>
    <h3>p</h3>
    <h3>t</h3>
</div>
<div class="row">
    <div class="col-4 text-truncate">
        <ul class="list-group">
            {% for sessions in history %}
                {% for h in sessions %}
                    {% ifchanged %}
                    <a class="list-group-item" data-id="ch-{{ h.session }}" href="#chat-{{ h.session }}" role="tab" aria-controls="list-{{ h.session }}">
                        <li class="title-list" id="item-{{h.session}}" >{{ h.title }}</li>    
                    </a>
                    {% endifchanged %}
                {% endfor %}
            {% endfor %}
        </ul>

         <!-- paginator -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if history.has_previous %}
                
                <li class="page-item"><a href="?page={{ history.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a href="?page={{ history.next_page_number }}" class="page-link">&laquo;</a></li>
                {% endif %}
                {% if history.has_next %}
                <li class="page-item"><a href="?page={{ history.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a href="?page={{ history.previous_page_number }}" class="page-link">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="col-8">
        <div id="edit-cont">
            <button type="button" id="edit" class="btn btn-prim" data-bs-toggle="modal" data-bs-target="#edit_chat">
                Edit
              </button>
        </div>
        <ul class="list-group list-group-responses">
            {% for sessions in history %}
                {% for h in sessions %}
                <li data-id="ch-{{ h.session }}" class="tstamp-l">{{ user.username }} at {{ h.timestamp }}</li>
                <li id="inp{{ h.pk }}" class="bubble left" data-id="ch-{{ h.session }}">{{ h.input }}</li>
                <li id="resp{{ h.pk }}" data-id="ch-{{ h.session }}" class="tstamp-r">Response at {{ h.timestamp }}</li>
                <li id="resp{{ h.pk }}" class="bubble right" data-id="ch-{{ h.session }}">{{ h.response }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- EDIT MODAL  -->
<div class="modal fade modal-xl" id="edit_chat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit chat <i class="fa-regular fa-pen-to-square"></i></h1>
          <button type="button" class="btn-close cancel" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-title" id="edit-title">
            <h2 class="modal-title fs-5" id="chat-title" contenteditable="true"><i class="fa-regular fa-pen-to-square"></i></h2>
        </div>
        <div class="modal-body">
          <div id="edit-mod" class="list-group list-group-responses" ></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sec" id="delete" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-sec cancel" id="save" data-bs-dismiss="modal">Save</button>
            <button type="button" class="btn btn-sec cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block page_scripts %}
<script src="{% static 'BGpt/history.js' %}"></script>
{% endblock %}