{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %}

<div id="bgpt-logo-cont">
  <h1>B</h1>
  <h1>G</h1>
  <h3>p</h3>
  <h3>t</h3>
</div>
<div id="index-bod">
  <div id="welcome">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to BGpt.</h1>
        <p class="lead">The first iteration of a conversational language learning tool, helping to practise vocalising languages.</p>
      </div>
    </div>   
  </div>

  <div id="start-cont">
    <div class="card">
      <div class="card-body">
        <h6>
          Ready to go? 
        </h6> 
        <div id="lets-chat">
          {% if user.is_authenticated %}
          <!-- Button trigger chat_window modal -->
          <button type="button" class="btn btn-prim" data-bs-toggle="modal" data-bs-target="#chat_window">
            Let's Chat!
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">  
        <h6>
          Want to revise?
        </h6>
        <div id="chat-hist">
          <!-- Button trigger chat_history modal -->
          <button type="button" class="btn btn-prim" data-bs-toggle="modal" data-bs-target="#chat_history" id="hist-btn">
            Load Previous Chat
          </button>
          {% else %}
          <h3><a href="{% url 'login' %}">Login here to start chatting!</a></h3>
          {% endif %}
        </div>
      </div>
    </div>  
  </div>

  <div id="card-cont">
    <div class="card">
      <div class="card-body">
        <h3 class="card-head">What is BGpt</h3>
        <p>
          A conversational language tool that feeds audio to AI and generates topical responses. 
        </p>
        <p>
          BGpt is the effort of an Irishman living in Sofia to adapt his attempt to learn a language.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>
          What is it's purpose?
        </h3> 
        <p>
          The world has changed quite a bit since 2020, most people working from their homes and day to day interaction has suffered because of it. 
          I found myself understanding the basics internally, but vocalising was a different scenario.
        </p>
        <p>
          Using the recent influx of AI tools at hand, I set out to create something that allowed me to  work on 
          conversational skills in passing, rather than looking at notes and using flashcards. 
        </p>  
      </div>
    </div>
  </div>
  


  <!-- Start Chatting Modal -->
  <div class="modal fade" id="chat_window" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="chat_window" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Let's Chat! <i class="fa-regular fa-comments" style="color: #000000;"></i></h1>
          <button type="button" class="btn-close cls-sess" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="chat-modal">
          <h6>Please which language you speak, and which language you wish to translate to:</h6>

          <div id="lang-container">
            <i class="fa-solid fa-headset" style="color: #000000;"></i>
            <select name="lang" id="lang-selector">
                <option value="bg-en" selected="selected">BG -> ENG</option>
                <option value="en-bg">ENG -> BG</option>
            </select>
            <i class="fa-solid fa-ear-listen" style="color: #000000;"></i>
            
          </div>
          <h6>Please select the model for transcription, the larger the model, the longer response time but higher accuracy.</h6>
          <select name="model" id="model_selector" onchange="changeTip()">
            <option value="select" selected="selected" disabled>Select Model</option>
              <option value="base">Base</option>
              <option value="med" >Medium</option>
              <option value="large">Large</option>
          </select>
          <!-- Tool tips -->
          <div>
            <!-- BASE -->
            <p>
              <button class="btn btn-primary" type="button"  hidden id="baseBtn" data-bs-toggle="collapse" data-bs-target="#collapseBase" aria-expanded="false" aria-controls="collapseBase">
                Base desc
              </button>
            </p>
            <div style="min-height: 120px;" class="model-inactive" id="base">
              <div class="collapse collapse-horizontal" id="collapseBase">
                <div class="card card-body" style="min-width: 300px; margin: 5% 5% 5% 5%;">
                  Base: This is the fastest turnaround (~20 seconds in test for short queries) but also the most inaccurate. If your questions/comments are simple and
                  clear this should work for you.
                </div>
              </div>
            </div>
            <!-- MID -->
            <p>
              <button class="btn btn-primary" type="button" id="midBtn" hidden data-bs-toggle="collapse" data-bs-target="#collapseMid" aria-expanded="false" aria-controls="collapseMid">
                Medium desc
              </button>
            </p>
            <div style="min-height: 120px;" class="model-inactive" id="mid">
              <div class="collapse collapse-horizontal" id="collapseMid">
                <div class="card card-body" style="min-width: 300px; margin: 5% 5% 5% 5%;">
                  Medium: The middle ground, decent turnaround (~1 minute in test for short queries) and decently accurate.
                  If you're ok with waiting a bit longer, this option is recommeneded.
                </div>
              </div>
            </div>
            <!-- LARGE -->
            <p>
              <button class="btn btn-primary" type="button" hidden id="largeBtn" data-bs-toggle="collapse" data-bs-target="#collapseLarge" aria-expanded="false" aria-controls="collapseLarge">
                Large desc
              </button>
            </p>
            <div style="min-height: 120px;" class="model-inactive" id="large">
              <div class="collapse collapse-horizontal" id="collapseLarge">
                <div class="card card-body" style="min-width: 300px; margin: 5% 5% 5% 5%;">
                  Large: The most accurate but by far the longest turnaround. (~3 minutes in test for short queries)
                </div>
              </div>
            </div>
          </div>
          <!-- TT end -->
          <h6>It's best to give the chat a title, if you wish to revise it later</h6>
          <input type="text" name="title" id="chat-title-inp" placeholder="Give this chat a title?">
          <button id="btn-start" class="btn btn-prim" style="display: none;"> <i class="fa-solid fa-microphone"></i> Start Recording</button>
          <button id="btn-stop" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-microphone-slash"></i> Stop Recording</button>
          <button id="btn-replay" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-repeat"></i> Replay Audio</button>
          <br>
          <!-- spinnner -->
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div id="resp-cont">
            <div id="response" class="bubble right"></div>
            <div id="resp-trans" class="bubble left"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-prim cls-sess" data-bs-dismiss="modal">Close session</button>
        </div>
      </div>
    </div>
  </div>

    
  <!-- Chat History Modal -->
  {% if user.is_authenticated %}
    <div class="modal fade" id="chat_history" tabindex="-1" aria-labelledby="chat_history" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Chat History</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="hist-cont">
              <!-- first for loop is session groups, second is entries -->
              {% for sessions in history %}
                {% for h in sessions %}
                  {% ifchanged %}
                  <div id="chat-cont"> 
                    <div class="chat-session" hidden >{{ h.session }}</div>
                    <div class="chat-session">{{ h.timestamp | date:"d M Y" }}</div>
                    <div class="chat-session">{{ h.title }}</div>
                    <a class="btn btn-prim" href="{% url 'history' user.id %}#{{h.session }}"><div class="chat-session">Open</div></a>
                  </div>
                  {% endifchanged %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button id="refresh" class="btn btn-sec">Refresh <i class="fa-solid fa-arrows-rotate" style="color: #000000;"></i></button>
            <a href="{% url 'history' user.id %}" class="btn btn-sec">View Full history</a>
            <button type="button" class="btn btn-sec" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}



{% block page_scripts %}
<script src="{% static 'BGpt/audio.js' %}"></script>
<script>
  function changeTip() {
      const base = document.querySelector('#base');
      const baseBtn = document.querySelector('#baseBtn');

      const mid = document.querySelector('#mid');
      const midBtn = document.querySelector('#midBtn');

      const large = document.querySelector('#large');
      const largeBtn = document.querySelector('#largeBtn');

      const selector = document.querySelector('#model_selector');

      // SHOW BUTTON ONCE SELECTED
      const startBtn = document.querySelector('#btn-start');
      startBtn.style.display = 'block';

      if (selector.value == 'base'){
        if (large.classList.contains('model-active')){
          largeBtn.click();
          large.classList.remove('model-active')
          large.classList.add('model-inactive')
        }
        
        if (mid.classList.contains('model-active')){
          midBtn.click();
          mid.classList.remove('model-active');
          mid.classList.add('model-inactive');
        }

        base.classList.remove('model-inactive')
        base.classList.add('model-active')
        baseBtn.click();
      }
      else if (selector.value == 'med'){
        if (base.classList.contains('model-active')){
          baseBtn.click();
          base.classList.remove('model-active')
          base.classList.add('model-inactive')
        }
        
        if (large.classList.contains('model-active')){
          largeBtn.click();
          large.classList.remove('model-active');
          large.classList.add('model-inactive');
        }

        mid.classList.remove('model-inactive')
        mid.classList.add('model-active')
        midBtn.click();
      }
      else if (selector.value == 'large'){
        if (base.classList.contains('model-active')){
          baseBtn.click();
          base.classList.remove('model-active')
          base.classList.add('model-inactive')
        }
        
        if (mid.classList.contains('model-active')){
          midBtn.click();
          mid.classList.remove('model-active');
          mid.classList.add('model-inactive');
        }

        large.classList.remove('model-inactive')
        large.classList.add('model-active')
        largeBtn.click();
      }
    };
  
  document.addEventListener('DOMContentLoaded', () => {
    // const histModal = document.querySelector('#chat_history');
    const refresh = document.querySelector('#refresh');
    const histBtn = document.querySelector('#hist-btn');

    // use session storage to catch it page is refreshed by hist button
    if (sessionStorage.getItem('refreshHist')){
      // if it's found, click open history modal
      histBtn.click();
      // remove session item
      sessionStorage.removeItem('refreshHist')
    }
    
    refresh.addEventListener('click', function() {
      // set session item on click
      sessionStorage.setItem('refreshHist', 'true')
      window.location.reload();
    })
  });
</script>
{% endblock %}