{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %} 
<div id="bgpt-logo-cont">
    <h1>B</h1>
    <h1>G</h1>
    <h3>p</h3>
    <h3>t</h3>
</div>

<div class="welcome-cont">
    {% if user.first_name %}
    <div class="display-4">Welcome {{ user.first_name | capfirst}}</div>
    {% else %}
    <div class="display-4">Welcome {{ user.username | capfirst}}</div>
    {% endif %}
    {% if message %}
    <div class="display-4">*{{ message }}</div>
    {% endif %}
</div>

<div id="formcontainer">
    <div class="user-cont">
        <div class="view-deets">
            <div class="deets-cont">
                <div><strong>Username:</strong></div>
                <div>{{ user.username }}</div>
            </div>
            <div class="deets-cont">
                <div><strong>First Name:</strong></div>
                <div>{{ user.first_name }}</div>
            </div>
            <div class="deets-cont">
                <div><strong>Last Name:</strong></div>
                <div>{{ user.last_name }}</div>
            </div>
            <div class="deets-cont">
                <div><strong>Email:</strong></div>
                <div>{{ user.email }}</div>
            </div>
            <div class="deets-cont">
                <div><strong>Date Joined:</strong></div>
                <div>{{ user.date_joined }}</div>
            </div>
        </div>
        <div id="prof_btns">
            <button class="btn btn-prim" id="edit-user">Edit information</button>
            <button class="btn btn-prim" id="edit-pw">Change Password</button>
        </div>
    </div>
    <!-- Change User info -->
    <div id="change-user">
        <form action="{% url 'profile' user.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" autofocus type="text" name="username" placeholder="{{ user.username }}" disabled>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" {% if user.email %} placeholder="{{ user.email}}" {% else %} placeholder="Email Address" {% endif %}>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input class="form-control" type="text" name="first_name" {% if user.first_name %} placeholder="{{ user.first_name}}" {% else %} placeholder="First Name" {% endif %}>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input class="form-control" type="text" name="last_name" {% if user.last_name %} placeholder="{{ user.last_name}}" {% else %} placeholder="Last Name" {% endif %}>
            </div>
            <div class="btn-cont btn-reg">
                <input type="hidden" name="form_id" value="user_change">
                <button type="submit" class="btn btn-prim" name="update-info">Submit</button>
                <a href="{% url 'profile' user.id %}"class="btn btn-prim">Cancel</a>
            </div>
        </form>
    </div>
    <!-- change PW -->
    <div id="change-pw">
        <form action="{% url 'profile' user.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="current-password">Current Password:</label>
                <input class="form-control" type="password" name="current-password" placeholder="Current Password" autocomplete="on">
            </div>
            <div class="form-group">
                <label for="new-password">New Password:</label>
                <input class="form-control" type="password" name="new-password" placeholder="New Password" autocomplete="on">
            </div>
            <div class="form-group">
                <label for="confirmation">Confirm New Password:</label>
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" autocomplete="on">
            </div>
            <div class="btn-cont btn-reg">
                <input type="hidden" name="form_id" value="pw_change">
                <button type="submit" class="btn btn-prim" name="pw-change">Submit</button>
                <a href="{% url 'profile' user.id %}" class="btn btn-prim">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block page_scripts %}<script src="{% static 'BGpt/slide.js' %}"></script>{% endblock %}
