{% extends "network/layout.html" %}

{% block body %}
<div class="m-auto">
    <div class="d-flex row text-center">
        <div id="user_name" class="text-center fs-1">{{profile_owner}}</div>
        {% if not profile_owner == user.username and not user_not_logged_in %}
        <div id="follow-unfollow" class="">
            <a href="#" id="follow-button" class="text-center btn btn-primary follow-button" aria-hidden="true">{{is_following}}</a>
        </div>
        {% elif profile_owner == user.username %}
        {% else %}
        <div id="fake-button" class="m-auto">
            <a href="#" class="btn btn-primary text-center" aria-hidden="true">Follow</a>
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <div class="m-2">
            <h4 id="followers" class="m-2 text-center">{{followers}}</h4>
            <h5>Followers</h5>
        </div>
        <div class="m-2">
            <h4 id="following" class="m-2 text-center">{{following}}</h4>
            <h5>Following</h5>
        </div>
    </div>

</div>

    {% if user.is_authenticated %}
        {% if profile_owner == visitor.username %}
            <div id="create-new-post-view " class="mt-2 text-center align-items-center justify-content-center">
        <div class="w-50 m-auto rounded">
            <h2 class="p-2 text-muted">Write Your Toughts Here</h2>
            <form action = "{% url 'create_new_post' %}" method = "post"  class="justify-content-center" id="create-new-post">
                {% csrf_token %}
                <div class="d-flex row w-50 m-auto">
                    <textarea class="p-2 m-2 border border-2 rounded w-20" name = "content" id="text-area" placeholder="What's happening" rows="4" cols="1" style="resize:none"></textarea>
                    <div class="mt-1">
                        <input id = "create-post-button" value = "Share" type="submit" class="btn btn-primary w-3" disabled/>
                    </div>
                </div>
            </form>
        </div>
   </div>
        {% endif %}
    {% endif %}

<div id="post-container" class="w-50 m-auto">
    <div id = "invalid-post-error">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
        {{message}}
            </div>
        {% endfor %}
    {% endif %} 
    </div>
 
    <div id="all-posts" class="row justify-content-center m-2 text-center" >
        {% for post in posts %}
    <div id="general-post-container" class="border border-1 w-100 rounded " style="width: 18rem;">
        <div class="m-none post p-4" id={{post.id}}>

              <div id="edit-view" class="d-none">
                <form id="edit-selected-post">
                  <textarea class="m-2 border border-1 rounded w-50" id="context-text-area" placeholder="Your thoughts" rows="3" cols=""></textarea>
                  <input type="submit" class="btn btn-primary save-button" value="Save"/>
                </form>
              </div>  

            <div id="post-content-view" class="d-block">

                <div class="d-flex justify-content-between">
                  <a href="{% url 'load_profile' username=post.creator %}" id="user" class="m-1 username text-decoration-none fs-5">{{post.creator}}</a>
                  {% if user == post.creator %}
                    <i class="fa fa-edit fa-lg edit-button" aria-hidden="true"></i>
                  {% endif %}
                </div>

                <div class="d-flex row">
                    <div class="d-flex row pull-left">
                        <div>
                            <p class="text-start m-1 fs-4" id="content">{{post.content}}</p>
                        </div>
                        <div>
                            <p class="m-1 text-start" id="date">{{post.created_at}}</p>
                        </div>
                    </div>

                    <div class="d-flex">
                        {% if post in liked_posts %}
                            <i id="liked-button" class="m-1 fa fa-heart fa-2x like-button" aria-hidden="true"></i>
                        {% else %}
                            <i id="like-button" class="m-1 fa fa-heart-o fa-2x like-button" aria-hidden="true"></i>
                        {% endif %}
                        <h4 class="card-text m-1" id="likes">{{post.likes}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
        {% endfor %}

    </div>
        <div class="pagination m-4">
            <span class="step-links m-auto">
                {% if posts.has_previous %}
                    <a href="?page=1" class="btn btn-warning">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}" class="btn btn-danger">previous</a>
                {% endif %}

                <span class="current m-2 p-2 fs-4 bg-secondary text-light rounded">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="btn btn-danger">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-warning">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}