body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .body-cont {
  flex: 1;
}
body .btn-prim {
  background-color: #ffffff;
  color: #ff2d2d;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border: #2b0000;
}
body .btn-prim:hover {
  box-shadow: 0 0 0 4px #ff2d2d, 0 0 0 8px #319835;
}
body .btn-prim:not(.btn):hover {
  color: black;
  box-shadow: none;
  border: 0;
  border-radius: 0.5em;
}
body .btn-sec {
  background-color: #ffffff;
  color: #2b0000;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border: #2b0000;
}
body .btn-sec:hover {
  background-color: #ff2d2d;
  color: #ffffff;
}
body #cont-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50vh;
}
body #register-cont {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}
body #login-cont {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}
body .form-group {
  margin-bottom: 5px;
}
body .btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .btn-cont a {
  text-decoration: none;
}
body .log {
  justify-content: center;
}
body .log #login {
  margin-right: 10px;
}
body .log #register {
  margin-left: 10px;
}
body .btn-reg {
  justify-content: space-between;
  padding: 5% 5% 5% 5%;
}
body .message {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #resp-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #resp-cont > * {
  margin: 8% 0 8% 0;
}
body #response, body #resp-trans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: center;
  justify-content: flex-start;
}
body .col-8 {
  padding-top: 10px;
}
body #bgpt-logo-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(Flag.png);
  border: solid 2px black;
}
body #bgpt-logo-cont h1 {
  font-size: 10rem;
  max-height: 165px;
}
body #bgpt-logo-cont h3 {
  font-size: 3em;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  body #bgpt-logo-cont {
    min-height: 165px;
  }
}
body #welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body .display-4 {
  text-align: center;
}
body #card-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 5% 5% 5%;
  border-radius: var(--bs-border-radius);
}
body #card-cont > * {
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 0 10px #ff2d2d, 0 0 0 20px #319835;
}
body #start-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body #start-cont .card:hover {
  border: 0;
  border-radius: 0.5em;
}
body #start-cont > * {
  box-shadow: 10px 10px 10px #0f4d32;
}
body #chat-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  border: solid 2px;
  border-bottom: 0;
  border-radius: 0.5em;
  padding: 10px 10px 10px 10px;
}
body #chat-cont a {
  display: inline-block;
}
body #chat-cont .chat-session {
  display: inline;
}
body #chat-cont:last-child {
  border-bottom: solid 2px;
}
body .pagination {
  justify-content: center;
  text-decoration: none;
}
body .pagination li {
  text-align: center;
  min-width: 50%;
}
body .pagination .page-link {
  text-decoration: none;
  color: #2b0000;
}
@media (max-width: 600px) {
  body #card-cont {
    flex-direction: column;
    align-items: center;
  }
  body #card-cont > div:last-child {
    margin-bottom: 0;
  }
  body .card {
    margin-bottom: 50px;
  }
}
body .title-list {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
}
body .list-group {
  overflow-y: auto;
  border: none;
}
body .bg-light2 {
  background-color: white;
  border: none;
  box-shadow: none;
}
body .list-group-responses > * {
  display: none;
  padding: 5px 5px 5px 5px;
}
body .list-group-item:hover {
  background-color: #319835;
  color: #ffffff;
}
body .inp {
  list-style: none;
  border: 5px solid #ff2d2d;
}
body .resp {
  list-style: none;
  border: 5px solid #ff2d2d;
}

.card-body {
  max-width: 500px;
}
.card-body h6 {
  text-align: center;
}

#navbarNavAltMarkup {
  justify-content: center;
  padding: 0 5% 0 5%;
}

.modal-content {
  display: flex;
  justify-content: center;
}
.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.modal-content .modal-body .spinner-border {
  display: none;
}

#chat-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#chat-modal .btn {
  max-width: 50%;
  margin-left: 25%;
}

#chat-modal > * {
  margin: 5px 0 5px 0;
}

#lang-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#lang-container > * {
  font-size: large;
}

#chat-title-inp {
  max-width: 50%;
  margin-left: 25%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-light {
  box-shadow: 0 0 0 5px #0f4d32;
}

#edit-cont {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
}

.bubble {
  --r: 10px; /* the radius */
  --t: 30px; /* the size of the tail */
  max-width: 80%;
  padding: calc(2 * var(--r) / 3);
  margin: calc(2 * var(--r) / 4);
  -webkit-mask: radial-gradient(var(--t) at var(--_d) 0, rgba(0, 0, 0, 0) 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat, conic-gradient(at var(--r) var(--r), #000 75%, rgba(0, 0, 0, 0) 0) calc(var(--r) / -2) calc(var(--r) / -2) padding-box, radial-gradient(50% 50%, #000 98%, rgba(0, 0, 0, 0) 101%) 0 0/var(--r) var(--r) space padding-box;
  mask: radial-gradient(var(--t) at var(--_d) 0, rgba(0, 0, 0, 0) 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat, conic-gradient(at var(--r) var(--r), #000 75%, rgba(0, 0, 0, 0) 0) calc(var(--r) / -2) calc(var(--r) / -2) padding-box, radial-gradient(50% 50%, #000 98%, rgba(0, 0, 0, 0) 101%) 0 0/var(--r) var(--r) space padding-box;
  background: #319835;
  color: #ffffff;
  resize: none;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid rgba(0, 0, 0, 0);
  margin-right: var(--t);
  place-self: start;
}

.right {
  --_d: 100%;
  border-right: var(--t) solid rgba(0, 0, 0, 0);
  margin-left: var(--t);
  place-self: end;
  box-shadow: 0 0 0 10px #ff2d2d, 0 0 0 20px #319835;
}

.tstamp-r, .tstamp-l {
  --_d: 0%;
  border-left: var(--t) solid rgba(0, 0, 0, 0);
  margin: var(--t);
  color: grey;
  font-size: small;
}

.tstamp-l {
  place-self: start;
}

.tstamp-r {
  place-self: end;
}

.edit-resp {
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#edit-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#edit-title h2 {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

#formcontainer .user-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#formcontainer #prof_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#formcontainer #prof_btns > * {
  margin: 10% 0 10% 0;
}
@media (max-width: 600px) {
  #formcontainer .user-cont {
    flex-direction: column;
    justify-content: center;
  }
  #formcontainer #prof_btns > * {
    margin: 5% 25% 5% 25%;
    width: 50%;
  }
}
#formcontainer .deets-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
#formcontainer .deets-cont > * {
  width: 50%;
}
#formcontainer #change-user, #formcontainer #change-pw {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}
#formcontainer .view-deets > * {
  padding: 2% 2% 2% 2%;
}

#change-user {
  display: none;
  justify-content: center;
}

#change-pw {
  display: none;
  justify-content: center;
}

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
.model-inactive {
  display: none;
  transform: translate(100%);
}

.model-active {
  display: block;
  transform: translate(0%);
}

/*# sourceMappingURL=styles.css.map */
